nav.top-nav {
    height: 60px;
    background-color: #20232a;
    color: #61dafb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.top-nav > h3 {
    font-size: 18px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}