@import '../../styles/variables';

div.card {
    border: 1px solid $darkBackground;

    header {
        background-color: $darkBackground;
        color: $skyBlue;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 20px;
            margin: 0;
            font-weight: normal;
        }
    }

    section {
        padding: 20px;
    }
}