@import "../../styles/variables";


nav.top-nav {
    height: 60px;
    background-color: $darkBackground;
    color: $skyBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    span {
        color: $skyBlue;
    }

    span.logo {
        font-size: 18px;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    span.menu-item {

    }
}
